/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    transition: all ease 2s;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.greet-user {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5vh;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar li {
    margin-right: 20px;
}


.intro {
    text-align: justify;
    line-height: 1.6;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    margin-bottom: 20px;
}

.intro ul {
    margin-bottom: 20px;
}

.intro ul li {
    margin-bottom: 10px;
}

#user {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#bot-link,
#about-section {
    color: #2563eb;
    text-decoration: none;
    transition: color 0.3s ease;
}

#bot-link:hover,
#about-section:hover {
    text-decoration: underline;
    color: #12388e;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar ul {
        justify-content: center;
    }

    .navbar li {
        margin-bottom: 10px;
    }
}
